@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,700, 900&display=swap');

:root {
  --primary-color: #f36e49;
  --secondary-color: #ebb96b;
  --gray-900: #231511;
  --gray-700: #392d2a;
  --gray-500: #675d5a;
  --gray-300: #afa9a7;
  --gray-100: #f3edeb;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--gray-100);
  color: var(--gray-900);
  font-family: 'Nunito', sans-serif;
  line-height: 1.5em;
}

header {
  /* background: rgb(243, 110, 73);
  background: linear-gradient(
    28deg,
    rgba(243, 110, 73, 1) 0%,
    rgba(235, 185, 107, 1) 14%,
    rgba(243, 237, 235, 1) 70%
  ); */

  background: rgb(82, 105, 108);
  background: linear-gradient(
    40deg,
    rgba(82, 105, 108, 1) 0%,
    rgba(243, 237, 235, 1) 51%
  );

  /* background: url(images/curly-bracket-left.svg); */
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  overflow: hidden;
  /* text-align: center; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  position: sticky;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  background: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.navigation .social {
  display: none;
}

.logo {
  height: 50px;
  width: 50px;
  position: relative;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  padding: 1.5em;
  border-radius: 50%;
  top: 0;
  left: 1em;
  background: var(--primary-color);
}

ul {
  padding: 0;
}

nav ul {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -100%;
  top: 78px;
  padding-top: 2em;
  margin: 0;
  background: var(--gray-300);
  transition: all 0.5s;
  opacity: 0;
  z-index: 1000;
}

#check {
  display: none;
}

#check-label {
  font-size: 2em;
  color: var(--gray-100);
  position: absolute;
  right: 15px;
  cursor: pointer;
}

#check-label:hover {
  color: var(--secondary-color);
}

#check:checked ~ nav ul {
  opacity: 1;
  left: 0;
}

nav a {
  text-decoration: none;
  display: block;
  color: var(--gray-100);
  padding: 2em;
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  transition: 0.2s;
  border-bottom: 1px solid var(--gray-100);
}

nav a:hover {
  color: var(--secondary-color);
}

nav li {
  list-style-type: none;
}

.divider {
  text-align: center;
  margin: 0 auto;
}

section {
  padding: 2em;
}
.who {
  /* background-repeat: no-repeat;
  */
  position: relative;
  overflow: hidden;
}

.arrow {
  position: absolute;
  transform: rotate(90deg);
  right: -150px;
  width: 335px;
  height: 335px;
  opacity: 0.3;
}
.arrow img {
  width: 100%;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
  /* text-align: center; */
}

.title {
  padding: 2em;
}

.title h3::before {
  content: '';
  width: 150px;
  height: 50px;
  position: relative;
  top: -25px;
  background: var(--primary-color);
  display: block;
  z-index: -100;
  border-radius: 2px;
}

.title h3 {
  font-size: 3.5em;
  line-height: 1em;
  font-weight: 100;
  margin-top: 1em;
}

.bio {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.skills {
  background: var(--gray-900);
}

.skills .card {
  padding: 2em;
}

.skills li {
  list-style: none;
}

.divider-light {
  color: var(--gray-100);
}

.icon {
  margin: 1em;
}

.icon i {
  font-size: 3em;
}

/* .bio h1 {
  margin-bottom: 0;
} */

.bio-photo {
  border: 1px solid var(--gray-500);
}
.bio-photo img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.web-projects {
  background: #fff;
}

.card-container {
  max-width: 700px;
  margin: 2em auto;
}

.card-container > * {
  flex: 1;
}

.card {
  background: var(--gray-100);
  text-align: center;
  padding-bottom: 1em;
  margin: 2em 0;
  border-radius: 2px;
}

.card h3 {
  margin: 1em;
}

.card-image {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
  opacity: 0;
  background: rgba(0, 177, 186, 0.6);
  color: var(--gray-100);
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-overlay:hover {
  opacity: 1;
}

/*end overlay */

.card a {
  text-decoration: none;
  color: var(--gray-900);
}

.card a:hover {
  color: var(--primary-color);
}

.card img {
  width: 100%;
  object-fit: cover;
}

.contact-me {
  text-align: center;
}

footer {
  background-color: var(--primary-color);
  padding: 3em;
  text-align: center;
  color: var(--gray-900);
}

.social {
  font-size: 3em;
}

.social a {
  color: var(--gray-100);
  transition: 0.2s;
  font-size: 0.6em;
}

.social a:hover {
  color: var(--secondary-color);
}

@media screen and (min-width: 960px) {
  .logo img {
    width: 200%;
    height: 200%;
  }
  .title h3 {
    font-size: 5em;
  }

  .navigation {
    padding: 1em;
  }

  .navigation .social {
    display: block;
  }

  nav ul {
    all: unset;
    display: flex;
  }

  nav a {
    font-size: 1em;
    padding: 1em;
    border: none;
  }

  #check-label {
    display: none;
  }

  .bio {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 0 5em;
    max-width: 700px;
  }

  .bio h1 {
    text-align: left;
  }

  .bio-photo {
    max-height: 464px;
    flex: 1;
  }

  .bio-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bio-content {
    flex: 2;
  }
  .card-container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    gap: 1em;
  }
}
